
/* Colors
----------------------- */

$primary-color: #0067b8;
$secondary-color: #222222;
$third-color: #FFFFFF;
$fourth-color: #F1F1F1;
$fifth-color: #e81123;

/* Fonts
----------------------- */

$font-family-default: 'Open Sans', sans-serif;
$font-size-default: 1.6em;
$font-color-default: $secondary-color;
